<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Categorias
        </li>
    </ol>
</nav>

<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6 flex-end">
        <a routerLink="new" role="button" class="btn btn-light btn-sm btn-newcategorie">
            <i class="fas fa-plus"></i> Nova Categoria
        </a>
    </div>
</div>
<div class="row ">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories;index as i">
                    <td>{{i+1}} -
                        <strong>{{category.name}}</strong><br>
                        <small>{{category.description}}</small>
                    </td>
                    <td>
                        <a [routerLink]="[category.id,'edit']" role="button" class="btn-table-actions btn btn-light btn-sm mr-4">Editar</a>
                        <button data-toggle="modal" data-target="#confirmDelete" (click)="deleteCategory(category)" type="button" class="btn-table-actions btn btn-danger btn-sm">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>