<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link" routerLink="/">FINAN$YS</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/reports">Relatórios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/entries">Lançametos</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/entries">Lançametos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/categories">Categorias</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>